* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 60px;
}

div.large-spinner {
    width: 3rem;
    height: 3rem;
    font-size: 0.5rem;
    display: block;
    margin: 2rem auto;
}

div.page {
    display: none;
}

div.page.active {
    display: block;
}

a.nav-link:hover {
    cursor: pointer;
}

button.like {
    -webkit-appearance: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1.5rem;
    height: 1.5rem;
    float: right;
    outline: none;
    transition: font-size 0.15s ease-out;
    -webkit-transition: font-size 0.15s ease-out;
    -moz-transition: font-size 0.15s ease-out;
    -ms-transition: font-size 0.15s ease-out;
    -o-transition: font-size 0.15s ease-out;
}

button.like.clicked {
    font-size: 0rem;
    transition: font-size 0s;
    -webkit-transition: font-size 0s;
    -moz-transition: font-size 0s;
    -ms-transition: font-size 0s;
    -o-transition: font-size 0s;
}

button.like span {
    width: 1.5rem;
    line-height: 1.5rem;
}

button.like.liked span {
    color: #f00;
}

button.like:not(.liked) {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
}

a.username {
    color: #000;
    text-decoration: none !important;
    display: inline-block;
}

ul.photos {
    list-style-type: none;
    padding: 0;
}

#feed {
    min-height: 50vh;
}

#feedRefreshButton {
    display: block;
    margin: 0 0 0 auto;
}

div.card-body {
    padding: 0.75rem 0.5rem;
}

.photo {
	position: relative;
	background-color: #999;
	text-align: center;
	width: 100%;
    display: inline-block;
}

.photo img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

img.avatar {
    width: 3vh;
    height: 3vh;
    margin: 0 10px 5px 5px;
}

#container {
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
}

#navSearchResults {
    width: 227px;
    padding: .375rem .75rem;
    position: fixed;
    right: 0;
    background: #fff;
    z-index: 1000;
}

#navSearchSpinner {
    margin-left: -1.6rem;
}

#mobileNav {
    justify-content: space-evenly;
	visibility: hidden;
}

#mobileNav .nav-item a {
    font-size: 1.5rem;
    color: rgb(0,0,0,0.5);
}

#mobileNav .nav-item.active a {
    color: rgb(0,0,0,0.9);
}

#uploadForm {
    width: 80%;
    margin: 0 auto;
}

#uploadPreview {
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-color: grey;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#uploadPreview label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#uploadPreview span {
	font-size: 3rem;
}

#uploadLoadingScreen {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0,0.25);
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

#uploadLoadingScreen .spinner-border {
    width: 6rem;
    height: 6rem;
}

#uploadLoadingScreen.loading, #uploadLoadingScreen.success  {
    opacity: 1;
    visibility: visible;
}

#uploadLoadingScreen span {
    font-size: 5rem;
    color: #0c0;
}

#uploadLoadingScreen.loading span {
    display: none;
}

#uploadLoadingScreen.success .spinner-border {
    display: none;
}

#profilePhotos {
    column-count: 2;
    column-gap: 7px;
}

@media screen and (max-height: 600px) {
	#container {
		max-width: 400px;
	}
}

@media screen and (max-width: 600px) {
    #container {
        width: 100%;
    }

    #feedSpinner {
        display: none !important;
    }
    
	#desktopNav {
		display: none;
	}

	#mobileNav {
		visibility: visible;
	}

    #uploadForm {
        width: 100%;
        margin: 0;
    }

	body {
		padding-top: 0;
		padding-bottom: 3rem;
	}
}
