body {
    padding-top: 60px;
}

div.page {
    display: none;
}

div.page.active {
    display: block;
}

a.nav-link:hover {
    cursor: pointer;
}

a.username {
    color: #000;
    text-decoration: none !important;
    display: inline-block;
}

ul.photos {
    list-style-type: none;
    padding: 0;
}

.photo {
	position: relative;
	background-color: #999;
	text-align: center;
	width: 100%;
    display: inline-block;
}

.photo img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

img.avatar {
    width: 3vh;
    height: 3vh;
    margin: 0 10px 5px 5px;
}

#container {
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
}

#results {
    width: 227px;
    padding: .375rem .75rem;
}

#resultsSpinner {
    margin-left: -1.6rem;
}

#mobileNav {
    justify-content: space-evenly;
	visibility: hidden;
}

#mobileNav .nav-item a {
    font-size: 1.5rem;
    color: rgb(0,0,0,0.5);
}

#mobileNav .nav-item.active a {
    color: rgb(0,0,0,0.9);
}

#uploadForm {
    width: 80%;
    margin: 0 auto;
}

#uploadPreview {
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-color: grey;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#uploadPreview label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#uploadPreview span {
	font-size: 3rem;
}

#uploadLoadingScreen {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0,0.4);
    transition: opacity 0.5s;
}

#uploadLoadingScreen.loading, #uploadLoadingScreen.success  {
    opacity: 1;
    visibility: visible;
}

#uploadLoadingScreen span {
    font-size: 5rem;
    color: #0c0;
}

#uploadLoadingScreen.loading span {
    display: none;
}

#uploadLoadingScreen.success .spinner-border {
    display: none;
}

#uploadLoadingScreen .spinner-border {
    height: 20vw;
    width: 20vw;
}

#profilePhotos {
    column-count: 2;
    column-gap: 5px;
}

#profilePhotos div:nth-child(2) {
    display: inline-block;
}

#profilePhotos div {
    width: 100%;
}

@media screen and (max-height: 600px) {
	#container {
		max-width: 400px;
	}
}

@media screen and (max-width: 600px) {
    #container {
        width: 100%;
    }
    
	#desktopNav {
		display: none;
	}

	#mobileNav {
		visibility: visible;
	}

    #uploadForm {
        width: 100%;
        margin: 0;
    }

	body {
		padding-top: 0;
		padding-bottom: 3rem;
	}
}
